###############################################################################
# Ignore this files
###############################################################################

*~
.*
*.log

###############################################################################
# Ignore this directories
###############################################################################

bower_components
build
node_modules

###############################################################################
# Accept this files
###############################################################################

!.bowerrc
!.editorconfig
!.gitattributes
!.gitignore
!.jshintrc
!.nvmrc
