.services-header {
    text-align: center;
    margin: 5px 0px 20px 0px;
}

.services-header h2{
    font-size: 40px;
}

.services-header-bottomline {
    width: 100px;
    height: 5px;
    background: green;
    margin: 0 auto;
    margin-top: 20px;
}

.fiddus-logo {
    max-width: 280px;
    padding-top: 21px;
}

.pi-row-reduced .fiddus-logo {
    padding-top: 10px;
}

.fiddus-section-green {
    background-color: #509678;
}
