.services-header {
    text-align: center;
    margin: 5px 0px 20px 0px;
}

.services-header h2{
    font-size: 40px;
}

.services-header-bottomline {
    width: 100px;
    height: 5px;
    background: green;
    margin: 0 auto;
    margin-top: 20px;
}
